@import '_variables.scss';


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html {
	background: linear-gradient(to right, $brightRed, $darkerRed);
	font-family: 'roboto', 'helvetica', arial, sans-serif;

}

input:focus {
	outline: #fff;
	outline-color: #fff;
}

.app-wrapper {
	padding: 1em;
}


/*---------------------------
Header
-----------------------------*/



.search-header {
	background: $darkNavy;
	padding: 3em;
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 2.5em 0;
-webkit-box-shadow: 0px 0px 25px 0px rgba(30,25,42,1);
-moz-box-shadow: 0px 0px 25px 0px rgba(30,25,42,1);
box-shadow: 0px 0px 25px 0px rgba(30,25,42,1);

}

.search-box {
	flex-grow: 1;
	border: none;
	line-height: 2em;
	background: rgba(255,255,255,0.05);
	color: #fff;
	padding: 0.25em 1em;
	margin-right: 1em;
	font-family: 'roboto', 'helvetica', arial, sans-serif;

}

.search-submit {
	cursor: pointer;
	border: solid 1px #fff;
	color: #A1A0A5;
	background: rgba(255,255,255,0.1);

}

.search-input-wrapper {
	color: #fff;
		width: 60%;
		display: flex;
}

.search-bar-icon {
	line-height: 2em !important;
}

input[type="search"]::-webkit-search-cancel-button {
	color: #fff;
}


/*---------------------------
Main body
-----------------------------*/

.app-wrapper {
	
}
.main-body {
	width: auto;
	background: transparent;
	min-height: 500px;
	padding: 0.125em;
	color: #fff;

}

.results-vid-info {
	padding: 0.5em 0;
	}

	.results {
		width: 80%;
		margin: auto;
		font-family: 'roboto', 'helvetica', arial, sans-serif;
		display: flex;
		flex-wrap: wrap;
		transition: all 1s;
		-webkit-box-shadow: 0px 0px 25px 0px rgba(30,25,42,1);
-moz-box-shadow: 0px 0px 25px 0px rgba(30,25,42,1);
box-shadow: 0px 0px 25px 0px rgba(30,25,42,1);
	}

	.results li {
	padding: 0.675em 1.25em;
	flex-basis: 20%;
	list-style: none;

}
.video-title {
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.125;
	margin-bottom: 0.375em;
	color: $brightRed;
}
.channel-title {
	color: #fff;
	font-weight: bold;
	font-size: 0.875rem;
	margin-bottom: 0.5em;
}

.description {
	font-size: 0.875rem;
	font-weight: 300;
	margin-bottom: 0.675em;
}